
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">app lucycashflow</a>
    </div>
    <ul class="nav navbar-nav">
      <!--  <li class="active"><a href="/">HOME</a></li>  -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transações
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/lancamentos">Lançamentos</a></li>
          <li><a href="/transferencias">Transferências</a></li>
          <li><a href="gerenciartransac">Gerenciar Transações</a></li>
        </ul>
      </li>
      <li><a href="/extrato">Extratos</a></li>
      <li><a href="/relatorio">Relatórios</a></li>
      <li><a href="/gerenciarconta">Gerenciar Contas</a></li>
      <li><a href="/about">Sobre</a></li>
    </ul>
  </div>
</nav> 
