{% extends "base.html" %}
{% block sub_content %}

<div class="jumbotron">
  <h2>Gerenciar Contas</h2>
</div>
<br>

<form id="package_form" action="" method="POST">
  <h3>Criar Conta</h3>
  <div class="panel-body">
    <h5>Digite um nome para Conta (sem epaços)</h5>
    <input type="text"  name="nome">
    
    <h5>Digite o Saldo da Conta</h5>
    <input type="float" name="saldo">
    <input type ="submit" name="action" value="Cadastrar">
    <br> <br> <hr> <br>

    <h3>Excluir Conta</h3>
    <h5>Digite o Nome da Conta</h5>
    <input type="text" name="nome2">
    <input type ="submit" name="action" value="Excluir">
  </div>
</form>
<hr>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{ category }}"> {{ msg }}
</div>
{% endfor %}
{% endif%}
{% endwith %}


{% endblock %}
