<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet"> 
  </head>
</html> -->

{% extends "base.html" %}
{% block sub_content %}

<div class="jumbotron">
  <h2>Gerenciar Transações</h2>
</div>

<form id="package_form" action="" method="POST">
  <h3>Excluir Transação</h3>
  <h5>Selecione a Conta</h5>
  <select class="form-control" name="conta">
    {% for row in contas %}
    <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
    {% endfor %}
  </select>
  <br>
  
  <h5>Digite o ID da Transação</h5>
  </h5> <input type="text" name="idd">
  <input type ="submit" name="action" value="ExcluirTransacao">
  <br>
  <br>
  <hr>
  <br>

  <h3>Excluir Transferência</h3>

  <h5>Selecione a Conta:</h5>
  <select class="form-control" name="contat">
    {% for row in contas %}
    <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
    {% endfor %}
  </select>
  <br>
  
  <h5>Digite o ID da Transferência</h5>
  <input type="text" name="iddt">
  <input type ="submit" name="action" value="ExcluirTransferencia">
  <br>

</form>

{% endblock %}
