{% extends "base.html" %}
{% block sub_content %}

<div class="jumbotron">
  <h2>Lançamentos de Entradas e Saídas</h2>
</div>

<form method="POST">
  
  <div class="panel-body">
    <h5>Digite a data (yyyy-mm-dd)</h5>
      <input type="text"  name="data">
    <br><br>

    <h5>Selecione Conta</h5>
    <select class="form-control" name="conta">
      {% for row in contas %}
      <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
      {% endfor %}
    </select>
    <br>
    
    <h5>Selecione o Tipo do lançamento</h5>
    <select class="form-control" type="text" name="tipo">
      {% for row in tipos %}
      <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
      {% endfor %}
    </select>
    <br>
    
    <h5>Selecione a Categoria</h5>
    <select class="form-control" name="categoria">
      {% for row in categorias %}
      <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
      {% endfor %}
    </select>
    <br>
    
    <h5>Selecione a SubCategoria</h5>
    <select class="form-control" name="subs">
      {% for row in subs %}
      <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
      {% endfor %}
    </select>
    <br>
    
    <h5>Digite o Valor</h5>
    <input type="text" name="valor">
    <br><br>
    
    <h5>Observação</h5>
    <input type="text" name="obs">
    
    <input type ="submit" name="action" value="Lancar">
    <br><br>
  </div>
</form>
{% endblock %}
