{% extends "base.html" %}
{% block sub_content %}

<div class="jumbotron">
<h2>Transferências entre Contas</h2>
</div>

<form method="POST">

  <div class="panel-body">
    
    <h5>Digite a data (yyyy-mm-dd)</h5>
      <input type="text"  name="data">

    <h5>Selecione a Conta de Origem:</h5>
    <select class="form-control" name="deconta">
      {% for row in contas %}
      <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
      {% endfor %}
    </select>
    <br>
    
    <h5>Selecione a Conta Destino:</h5>
    <select class="form-control" name="paraconta">
      {% for row in contas %}
      <option value="{{ row[0] }}"{% if row[0] == state_categ.choice_categ %} selected{% endif %}>{{ row[1] }}</option>
      {% endfor %}
    </select>
    <br>
    
    <h5>Digite o Valor</h5>
    <input type="text" name="valor" >
    <br>
    
    <h5>Observação</h5>
    <input type="text" name="obs" >
    
    <input type ="submit" name="action" value="Transferir">
    <br><br>
  </div>
</form>
{% endblock %}
